<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="180000"/>
    </bean>

    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator"
          class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <!--直接采用session的生成-->
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>
    <!-- 会话管理器 -->
    <bean id="sessionManager"
          class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <bean id="myRealm" class="com.zjitc.realm.MyRealm"/>
    <bean id="clientRealm" class="com.zjitc.realm.ClientRealm"/>
    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="realm" ref="myRealm"/>-->
        <!-- 多个验证策略 realmes -->
        <property name="realms">
            <list> <!-- 这个认证，有一个先后的顺序 -->
                <ref bean="myRealm"/>
                <ref bean="clientRealm"/>
            </list>
        </property>

        <property name="sessionManager" ref="sessionManager"/>
        <!--<property name="cacheManager" ref="cacheManager"/>-->
    </bean>
    <!-- Shiro的Web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--身份认证失败，跳转到登录路径-->
        <property name="loginUrl" value="/test/toLogin"/>
        <!--权限认证失败-->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                <!--/**=anno-->
                /index1=anon <!--没有参数，表示可以匿名使用。-->
                /test/index2=authc  <!--身份认证成功-->
                /aa=authc
                <!--/company/*=authc&lt;!&ndash;下面的路径必须需要登陆才可以去访问&ndash;&gt;-->
                <!--/content=authc&lt;!&ndash;必须登陆才可以访问这个路径&ndash;&gt;-->
                <!--/index=authc&lt;!&ndash;表示需要认证(登录)才能使用，没有参数&ndash;&gt;-->
                <!--/role=authc,roles[admin]-->
                <!--/menu/**==authc,roles[admin],perms[menu:*]-->
                <!--表示访问该地址的用户是身份验证通过或RememberMe登录的都可以。-->
            </value>
        </property>
    </bean>

</beans>